<h1 class="text-center text-muted display-4 mt-4 text-uppercase">{{dish.name}}</h1>


<div class="container mt-5">
  <div *ngIf="dish" class="my-5 text-center">
    <div>
      <button *ngIf="dish.avail" class="btn btn-lg btn-secondary mb-2 pointer" (click)="addToCart()">Order Now &#8681;</button>
    </div>
    <img src="assets/{{ dish.image }}" alt="{{ dish.name }}" class="mt-2 img-link">
    <h3 class="mt-4">{{ dish.name }}</h3>
    <p>{{ dish.descr }}</p>
    <p *ngIf="dish.avail" class="fs-4">Price: {{ dish.price | currency }}</p>
    <button *ngIf="dish.avail" class="btn btn-lg btn-secondary pointer" (click)="addToCart()">Order Now &#8681;</button>
  </div>
</div>
