<footer>
  <!-- flex column at small screens, flex row at langer screens -->
<div id="footer" class="d-flex flex-column flex-md-row justify-content-around align-items-center position-fixed bottom-0 start-0 end-0 bg-light text-center text-secondary shadow-lg">
  <p>GET IN TOUCH:
    <a href="https://facebook.com" target="_blank" class="text-secondary pt-2"><i class="bi-facebook fs-4" aria-label="facebook"></i></a>
    <a href="https://instagram.com" target="_blank" class="text-secondary pt-2"><i class="bi-instagram fs-4" aria-label="instagram"></i></a>
  </p>
  <p class="pt-2">&#169; Christine Weidhofer 2023</p>
</div>
</footer>
