<h1 class="text-center text-muted display-4 mt-4">ABOUT US</h1>

<!-- responsive text and media combination -->
<main class="container">
  <div class="container my-4">
    <div class="d-flex flex-column flex-lg-row align-items-center">
      <div class="flex-shrink-0">
        <img src="assets/table.jpg" width="400" alt="black chairs and booths, wooden tables inside our restaurant">
      </div>
      <div class="flex-grow-1 text-center text-md-start p-4">
        Italian cuisine is a Mediterranean cuisine consisting of the ingredients, recipes and cooking techniques developed across the Italian Peninsula and later spread around the world together with waves of Italian diaspora. Some of these foods were imported from other cultures. Significant changes occurred with the colonization of the Americas and the introduction of potatoes, tomatoes, capsicums, maize and sugar beet — the latter introduced in quantity in the 18th century. It is one of the best-known and most appreciated gastronomies worldwide.
      </div>
    </div>
  </div>
  <hr class="w-50 m-5 mx-auto">
  <div class="container my-4">
    <div class="d-flex flex-column flex-lg-row align-items-center">
      <div class="flex-grow-1 text-center text-md-end p-4">
        Italian cuisine includes deeply rooted traditions common to the whole country, as well as all the regional gastronomies, different from each other, especially between the north, the centre and the south of Italy, which are in continuous exchange. Many dishes that were once regional have proliferated with variations throughout the country. Italian cuisine offers an abundance of taste, and is one of the most popular and copied around the world. The cuisine has influenced several other cuisines around the world, chiefly that of the United States.
      </div>
      <div class="flex-shrink-0">
        <img src="assets/chef.jpg" width="400" alt="black chairs and booths, wooden tables inside our restaurant">
      </div>
    </div>
  </div>
  <hr class="w-50 m-5 mx-auto">
  <div class="container my-4">
    <div class="d-flex flex-column flex-lg-row align-items-center">
      <div class="flex-shrink-0">
        <img src="assets/noodles.jpg" width="400" alt="black chairs and booths, wooden tables inside our restaurant">
      </div>
      <div class="flex-grow-1 text-center text-md-start p-4">
        One of the main characteristics of Italian cuisine is its simplicity, with many dishes made up of few ingredients, and therefore Italian cooks often rely on the quality of the ingredients, rather than the complexity of preparation. Italian cuisine is at the origin of a turnover of more than €200 billion worldwide. The most popular dishes and recipes, over the centuries, have often been created by ordinary people more so than by chefs, which is why many Italian recipes are suitable for home and daily cooking, respecting regional specificities, privileging only raw materials and ingredients from the region of origin of the dish and preserving its seasonality.
      </div>
    </div>
  </div>
  <hr class="w-50 m-5 mx-auto">
  <h2 class="heading2 text-center display-5 m-5">We are looking forward to hosting you or taking your 
    <span routerLink="/menu" class="text-muted pointer">online order!</span></h2>

