<h1 class="text-center text-muted display-4 mt-4">ORDER NOW</h1>

<div class="container my-5">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mx-auto">
    <div *ngFor="let val of dishes; index as i" class="my-4">
        <img src="../../assets/{{ val.image }}" alt="{{ val.name }}" class="img-pointer polaroid" width="300" routerLink="/menu/{{i}}">
        <h3 class="my-4">{{ val.name }}</h3>
        <hr class="w-25">
        <p class="pe-5">{{ val.descr }}</p>
        <button class="btn btn-outline-secondary me-2" routerLink="/menu/{{i}}">Details &#8680;</button>
        <button class="btn btn-secondary" (click)="addToCart(val)">Order Now</button>
    </div>
  </div>
</div>