/* global styles */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fffdf9;
}

.btn-secondary {
  background-color: #A36E62;
  border: none;
}

.btn-secondary:hover {
  background-color: #cd9c91;
}

/* make space for fixed footer*/
.row:last-child {
  margin-bottom: 8rem;
}

/* add pointer and scale bigger (on certain links) */
.pointer {
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s linear;
}

.pointer:hover {
  transform: scale(1.02);
}

/* styles for home and about-page */

.heading {
  text-shadow: 0px 0px 10px rgb(40, 40, 40);
}

main {
  margin: 4rem auto 8rem;
}

.heading2 {
  color: #A36E62;
}